
.fot{
font: bold 16px sans-serif;

	padding: 25px 20px;
	margin-top: 80px 10px;
color:white;
background-color:black;

}
.imga{
     background-image: url("http://schoolbook.getmyuni.com/assets/images/rev_img/15663__3188/14591793981_new.jpg");
     height:35em;
     width:100;
     color:white;
opacity:0.9;
}
*{

    font-family: 'Expletus Sans', cursive;
}
